swagger: '2.0'
host: white-label.theappsolutions.com
info:
  version: 1.0.0
  title: White label
basePath: /api
paths:
  /register/:
    post:
      tags:
        - Auth
      description: |
        Register user by email
      parameters:
        - in: formData
          name: email
          description: User email
          required: true
          type: string
        - in: formData
          name: password
          description: User password
          required: true
          type: string
        - in: formData
          name: name
          description: User name
          required: true
          type: string
        - in: formData
          name: picture
          description: User avatar
          type: file
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              token:
                type: string
              user:
                $ref: '#/definitions/User'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /login/:
    post:
      tags:
        - Auth
      description: |
        Login user by email
      parameters:
        - in: formData
          name: email
          description: User email
          required: true
          type: string
        - in: formData
          name: password
          description: User password
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              token:
                type: string
              user:
                $ref: '#/definitions/User'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /logout/:
    get:
      tags:
        - Auth
      description: |
        User logout
      parameters:
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              message:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /facebook/login/:
    post:
      tags:
        - Auth
      description: |
        Login user by facebook
      parameters:
        - in: formData
          name: token
          description: Facebook token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              token:
                type: string
              user:
                $ref: '#/definitions/User'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /twitter/login/:
    post:
      tags:
        - Auth
      description: |
        Login user by twitter
      parameters:
        - in: formData
          name: token
          description: Twitter token
          required: true
          type: string
        - in: formData
          name: secret_token
          description: Twitter secret token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              token:
                type: string
              user:
                $ref: '#/definitions/User'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /google/login/:
    post:
      tags:
        - Auth
      description: |
        Login user by google
      parameters:
        - in: formData
          name: token
          description: Google token
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              token:
                type: string
              user:
                $ref: '#/definitions/User'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /profile/change-password/:
    post:
      tags:
        - Profile
      description: |
        Change password
      parameters:
        - in: formData
          name: password
          required: true
          type: string
        - in: formData
          name: new_password
          required: true
          type: string
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              user:
                $ref: '#/definitions/User'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /profile/update/:
    post:
      tags:
        - Profile
      description: |
        Update profile
      parameters:
        - in: formData
          name: name
          required: true
          type: string
        - in: formData
          name: picture
          type: file
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              user:
                $ref: '#/definitions/User'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /check-email/:
    post:
      tags:
        - Auth
      description: |
        Check if email exist in our database
      parameters:
        - in: formData
          name: email
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              absent:
                type: boolean
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /recover/:
    post:
      tags:
        - Profile
      description: |
        Send email with recover link
      parameters:
        - in: formData
          name: email
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              message:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /user/:
    get:
      tags:
        - User
      description: |
        Get a list of users
      parameters:
        - in: query
          name: q
          type: string
          required: false
        - in: query
          name: page
          type: integer
          required: false
        - in: query
          name: perPage
          description: posts on page
          type: integer
          required: false
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              users:
                type: array
                items:
                  $ref: '#/definitions/User'
              total:
                type: integer
              perPage:
                type: integer
              currentPage:
                type: integer
  /push/android/add-token/:
    post:
      tags:
        - Push
      description: |
        Add andorid token for push notification
      parameters:
        - in: formData
          name: token
          required: true
          type: string
        - in: formData
          name: device_id
          required: true
          type: string
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              message:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /push/android/remove-token/:
    post:
      tags:
        - Push
      description: |
        Remove andorid token from push notification
      parameters:
        - in: formData
          name: device_id
          required: true
          type: string
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              message:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /push/android/subscribe/:
    get:
      tags:
        - Push
      description: |
        Subscribe user to push notification
      parameters:
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              message:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /push/android/unsubscribe/:
    get:
      tags:
        - Push
      description: |
        Unsubscribe user from push notification
      parameters:
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              message:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /push/android/send-notification-to-device/:
    post:
      tags:
        - Push
      description: >
        Test method for send push notification to android device. You must send
        authorization token
      parameters:
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              message:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /push/ios/add-token/:
    post:
      tags:
        - Push
      description: |
        Add ios token for push notification
      parameters:
        - in: formData
          name: token
          required: true
          type: string
        - in: formData
          name: device_id
          required: true
          type: string
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              message:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /push/ios/remove-token/:
    post:
      tags:
        - Push
      description: |
        Remove ios token from push notification
      parameters:
        - in: formData
          name: device_id
          required: true
          type: string
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              message:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /push/ios/subscribe/:
    get:
      tags:
        - Push
      description: |
        Subscribe user to push notification
      parameters:
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              message:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /push/ios/unsubscribe/:
    get:
      tags:
        - Push
      description: |
        Unsubscribe user from push notification
      parameters:
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              message:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /push/ios/send-notification-to-device/:
    post:
      tags:
        - Push
      description: >
        Test method for send push notification to ios device. You must send
        authorization token
      parameters:
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              message:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /place/list/:
    get:
      tags:
        - Place
      description: |
        Test method for place list
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              places:
                type: array
                items:
                  $ref: '#/definitions/Place'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  '/newsfeed/':
    get:
      tags:
        - Newsfeed
      description: |
        Get news for user
      parameters:
        - in: query
          name: page
          type: string
          required: false
        - in: query
          name: perPage
          description: posts on page
          type: integer
          required: false
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              posts:
                type: array
                items:
                  $ref: '#/definitions/Post'
              total:
                type: integer
              perPage:
                type: integer
              currentPage:
                type: integer
  '/newsfeed/show/{id}':
    get:
      tags:
        - Newsfeed
      description: |
        Get news by id
      parameters:
        - in: path
          name: id
          type: integer
          required: true
          description: news id
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              post:
                $ref: '#/definitions/Post'
  /newsfeed/add:
    post:
      tags:
        - Newsfeed
      description: |
        Add news
      parameters:
        - in: formData
          name: content
          type: string
          required: true
        - in: formData
          name: image
          type: file
        - in: formData
          name: place
          type: string
        - in: formData
          name: users
          type: array
          items:
            type: integer
          description: array of users id
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              post:
                $ref: '#/definitions/Post'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /newsfeed/add-comment:
    post:
      tags:
        - Newsfeed
      description: |
        Add comment to news
      parameters:
        - in: formData
          name: content
          type: string
          required: true
        - in: formData
          name: post_id
          type: string
          required: true
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              post:
                $ref: '#/definitions/Post'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  '/newsfeed/show-comments/{id}':
    get:
      tags:
        - Newsfeed
      description: |
        Add news comments
      parameters:
        - in: path
          name: id
          type: integer
          description: News id
          required: true
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              comments:
                type: array
                items:
                  $ref: '#/definitions/Comment'
  '/newsfeed/like/{id}':
    get:
      tags:
        - Newsfeed
      description: |
        Like news
      parameters:
        - in: path
          name: id
          description: post id
          type: integer
          required: true
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              post:
                $ref: '#/definitions/Post'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  '/newsfeed/unlike/{id}':
    get:
      tags:
        - Newsfeed
      description: |
        Unlike news
      parameters:
        - in: path
          name: id
          description: post id
          type: integer
          required: true
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              post:
                $ref: '#/definitions/Post'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  '/newsfeed/show-likes/{id}':
    get:
      tags:
        - Newsfeed
      description: |
        Show news likes
      parameters:
        - in: path
          name: id
          type: integer
          description: News id
          required: true
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              users:
                type: array
                items:
                  $ref: '#/definitions/User'
  '/friend/':
    get:
      tags:
        - Friend
      description: |
        Get a list of frinds
      parameters:
        - in: query
          name: q
          type: string
          required: false
        - in: query
          name: page
          type: integer
          required: false
        - in: query
          name: perPage
          description: posts on page
          type: integer
          required: false
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              friends:
                type: array
                items:
                  $ref: '#/definitions/User'
              total:
                type: integer
              perPage:
                type: integer
              currentPage:
                type: integer
  /friend/add:
    post:
      tags:
        - Friend
      description: |
        Add friends
      parameters:
        - in: formData
          name: friends
          required: true
          type: array
          items:
            type: integer
          collectionFormat: multi
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              message:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
  /friend/remove:
    post:
      tags:
        - Friend
      description: |
        Remove friends
      parameters:
        - in: formData
          name: friends
          required: true
          type: array
          items:
            type: integer
          collectionFormat: multi
        - in: header
          name: Authorization
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            type: object
            properties:
              message:
                type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/BadRequest'
definitions:
  User:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      email:
        type: string
      picture:
        type: string
      is_friend:
        type: boolean
  Place:
    type: object
    properties:
      id:
        type: integer
        format: int64
      title:
        type: string
      address:
        type: string
      picture:
        type: string
      location:
        type: object
        properties:
          lat:
            type: string
          lng:
            type: string
  Post:
    type: object
    properties:
      id:
        type: integer
        format: int64
      content:
        type: string
      image:
        type: string
      image_width:
        type: integer
      image_height:
        type: integer
      count_comments:
        type: integer
      count_likes:
        type: integer
      created_date:
        type: string
      place:
        type: string
      user:
        $ref: '#/definitions/User'
      users:
        type: array
        items:
          $ref: '#/definitions/User'
      is_liked:
        type: boolean
      last_comment:
        $ref: '#/definitions/Comment'
  Comment:
    type: object
    properties:
      id:
        type: integer
        format: int64
      content:
        type: string
      created_date:
        type: string
      user:
        $ref: '#/definitions/User'
      users:
        type: array
        items:
          $ref: '#/definitions/User'
  BadRequest:
    type: object
    properties:
      errors:
        type: array
        items:
          type: object
          properties:
            message:
              type: string
